@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Baloo 2', 'helvetica', cursive, sans-serif;
    margin: 0;
    background: linear-gradient(to bottom, black, white, gray, black, white, black, gray, white);
    background-repeat: no-repeat;
}

.container {
    max-width: 1000px;
    margin: 15px auto;
}

header {
    background:  radial-gradient(circle at 50% -20.71%, #ffef37 0, #fff327 7.14%, #fff619 14.29%, #e8f80f 21.43%, #c9f911 28.57%, #a6f81e 35.71%, #7cf62c 42.86%, #3cf23c 50%, #00ee4d 57.14%, #00ea60 64.29%, #00e574 71.43%, #00e18a 78.57%, #00dea1 85.71%, #00dab9 92.86%, #00d8d2 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
    font-weight: 700;
}

header h2 {
    margin: 0;
    font-size: 50px;
}

header .limit {
    display: flex;
    gap: 10px;
    margin-top: 16px;
}

header .limit p {
    font-size: 20px;
    margin: 0;
    font-weight: bold;
}

header .limit select {
    outline: none;
    font-size: 20px;
    border: 0px;
    border-radius: 8px;
    font-family: 'Baloo 2', 'helvetica', cursive;
    background-color: #fff;
    border-radius: 18px;
}

.pokemons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 4%;
}

.pokemons div {
    border-radius: 10px;
    width: 20%;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    background: linear-gradient(180deg, #adffff 0, #a4ffff 25%, #9df2f2 50%, #97dade 75%, #92c5cb 100%);  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    position: relative;
}

.pokemons div .order {
    position: absolute;
    top: 4px;
    right: 8px;
    font-size: 20px;
    color: blue;
    margin: 0;
}
.pokemons div img {
    width: 100%;
    transition: 1s;
}
.pokemons div:hover > img {
    transform: scale(1.5);
}

.navigation {
    display: flex;
    align-items: center;
    margin-top: 2%;
}
.navigation .numbers {
    margin-left: 10px;
    margin-right: 10px;
}

.navigation .numbers span button {
    font-size: 20px;
    padding: 0 2px;
    font-family: 'Baloo 2', 'helvetica';
    background-color: #ffffff00;
    border: 0;
    color: #fff;
    cursor: pointer;
    margin: 0 2px;
}
.navigation .numbers button:hover {
    border-radius: 25px;
    box-shadow: rgb(253 253 253 / 34%) 0px 0px 0px 2px;
}
.navigation > button {
    font-size: 20px;
    border: 0;
    cursor: pointer;
    transition: .5s;
    font-weight: 700;
    background-color: #fff;
    border-radius: 6px;
}
.navigation > button:hover {
    transform: scale(1.3);
}
.current button{
    box-shadow: rgb(253 253 253 / 34%) 0px 0px 0px 2px;
    border-radius: 25px;
} 
/* footer */
footer {
    padding: 3% 0;
    background-color: #7d4ce0;
}

p.author {
    display: flex;
    justify-content: center;
    gap: 7px;
}
p.author a {
    text-decoration: none;
    font-weight: 700;
    color: #000;
}
